<ion-header>
  <ion-toolbar>
    <ion-title>Page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>First Input</ion-label>
    <ion-text>{{userinput1}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>First Input</ion-label>
    <ion-text>{{userinput2}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Addition</ion-label>
    <ion-text>{{Sum}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Multiplication</ion-label>    
    <ion-text>{{Mul}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Division</ion-label>
    <ion-text>{{Div}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Subtraction</ion-label>
    <ion-text>{{Sub}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Modolu</ion-label>
    <ion-text>{{Mod}}</ion-text>
  </ion-item>

  <ion-button expand="block" (click)="GotoInputPage()">Go to Input Page</ion-button>
</ion-content>