<ion-header>
  <ion-toolbar>
    <ion-title>Page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>First Input</ion-label>
    <ion-text>{{userinput1}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>First Input</ion-label>
    <ion-text>{{userinput2}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Calculate</ion-label>
    <ion-text>{{Valsum}}</ion-text>
  </ion-item>

  <ion-button expand="block" (click)="GotoInputPage()">Go to Input Page</ion-button>
</ion-content>